.hero-container {
    background-image: url("../assets/images/SHIFTWAY-Image-2.png");
}

.img-1 {
    background-image: url("../assets/images/SHIFTWAY-Image-5.png");
}
.img-2 {
    background-image: url("../assets/images/SHIFTWAY-Image-3.png");
}